MONGO_URI="mongodb://localhost:27017" #or MONGO_URI="mongodb://username:password@localhost:27017/bitninja" for authenticated selfhosted or MONGO_URI="mongodb+srv://username:password@cluster.mongodb.net/" for cloud based
MONGO_DATABASE="bitninja"
MONGO_COLLECTION="ban_records"
